<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/change_password_teacher/">change_password</a><br>
<a href="/myapp/send_notification_teacher/">send_notification</a><br>
<a href="/myapp/teacher_view_profile/">teacher_view_profile</a><br>
<a href="/myapp/view_student_teacher/">view_student</a><br>
<a href="/myapp/attendance/">attendance</a><br>
<a href="/myapp/teacher_view_subject_allocation/">view allocation</a><br>


</body>
</html>