<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/change_pasword_club/">change_pasword_club</a><br>
<a href="/myapp/send_notification_club/">send_notification_club</a><br>
<a href="/myapp/club_view_profile/">club_view_profile</a><br>
<a href="/myapp/view_member_request/">view_member_request</a><br>
<a href="/myapp/approved_member_request/">approved_member_request</a><br>
<a href="/myapp/rejected_member_request/">rejected_member_request</a><br>
<a href="/myapp/view_member/">view_member</a><br>

</body>
</html>