<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/add_club/">add_club</a><br>
<a href="/myapp/change_password_collegeofficestaff/">change_password_collegeofficestaff</a><br>
{#<a href="/myapp/send_complaint_reply_collegeofficestaff/">send_complaint_reply_collegeofficestaff</a><br>#}
<a href="/myapp/send_notification_collegeofficestaff/">send_notification_collegeofficestaff</a><br>
<a href="/myapp/staff_view_profile/">staff_view_profile</a><br>
<a href="/myapp/view_bus_pass_request/">view_bus_pass_request</a><br>
<a href="/myapp/view_approved_bus_pass/">view_approved_bus_pass</a><br>
<a href="/myapp/view_club/">view_club</a><br>
<a href="/myapp/view_complaint_collegeofficestaff/">view_complaint</a><br>
<a href="/myapp/view_id_card_approved/">view_id_card_approved</a><br>
<a href="/myapp/view_id_card_rejected/">view_id_card_rejected</a><br>
<a href="/myapp/view_id_card_request/">view_id_card_request</a><br>
<a href="/myapp/view_rejected_bus_pass/">view_rejected_bus_pass</a><br>
<a href="/myapp/view_student_collegeofficestaff/">view_student</a><br>


</body>
</html>