<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>
<body>
	<form action="/myapp/view_complaint_collegeofficestaff_post/" method="post">
    {% csrf_token %}
	<table width="200" border="1">
  <tbody>
    <tr>
      <td><label for="from_date"></label>
        <input placeholder="from" type="date" name="from_date" id="from_date"></td>
      
      <td><label for="to_date"></label>
        <input placeholder="to" type="date" name="to_date" id="to_date"></td>
      <td><label for="to_date"></label>
      <td>&nbsp;
        <input type="submit" value="search">
      </td>
    </tr>
    <tr>
      <td>&nbsp;SL/No</td>
      <td>&nbsp;date</td>
      <td>&nbsp;complaint</td>
      <td>&nbsp;student</td>
        <td>status&nbsp;</td>
      <td>reply&nbsp;</td>
      
    </tr>
    {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.complaint }}</td>
      <td>{{ i.STUDENT.name }}</td>
      <td>{{ i.status }}</td>
      <td>
          {% if i.status == 'pending' %}
              <a href="/myapp/send_complaint_reply_collegeofficestaff/{{ i.id }}">reply</a>
              {% else %}
              {{ i.reply }}
          	
          {% endif %} 
          </td>

    </tr>
  {% endfor %}
  </tbody>
</table>
	</form>
	
</body>
</html>
