{% extends 'Admin/admin_home.html' %}
{% block body %}
    
    <style>
    /* Define minimal styling for the table */
    table {
        width: 100%;
        border-collapse: collapse;
        border: 0; /* Remove border from the table */
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    /* Apply minimal styling to form elements */
    select, input[type="text"], input[type="submit"] {
        width: 100%;
        padding: 8px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 5px; /* Adjust border radius */
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        border: none; /* Remove border for the button */
        border-radius: 5px; /* Adjust border radius for the button */
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }
</style>

<form action="/myapp/add_teacher_post/" method="post" enctype="multipart/form-data"> 
            {% csrf_token %}


<table width="200" border="1">
  <tbody>
    <tr>
      <td>&nbsp;name</td>
      <td>
      <input type="text" name="teacher_name" id="teacher_name"></td>
    </tr>
    <tr>
      <td>&nbsp;department</td>
      <td>
{#      <input type="text" name="department" id="department">#}
          <select name="department">
              {% for i in data %}
              <option value="{{ i.id }}">{{ i.department_name }}</option>
              {% endfor %}
              
          </select>
      
      </td>
    </tr>
    <tr>
      <td>&nbsp;phone no</td>
      <td>
      <input type="text" name="teacher_phone_no" id="teacher_phone_no"></td>
    </tr>
    <tr>
      <td>&nbsp;email id</td>
      <td>
      <input type="email" name="teacher_email_id" id="teacher_email"></td>
    </tr>
    <tr>
      <td>&nbsp;photo</td>
      <td>
      <input type="file" name="teacher_photo" id="teacher_photo"></td>
    </tr>
    <tr>
      
      <td>&nbsp;</td>
        <td><input type="submit" name="submit" id="submit" value="Submit"></td>
    </tr>
  </tbody>
</table>
</form>
{% endblock %}