{% extends 'Admin/admin_home.html' %}
{% block body %}
    
    <style>
    /* Define minimal styling for the table */
    table {
        width: 100%;
        border-collapse: collapse;
        border: 0; /* Remove border from the table */
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    /* Apply minimal styling to form elements */
    select, input[type="text"], input[type="submit"] {
        width: 100%;
        padding: 8px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 5px; /* Adjust border radius */
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        border: none; /* Remove border for the button */
        border-radius: 5px; /* Adjust border radius for the button */
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }
</style>

	<form action="/myapp/edit_office_staff_post/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
	    <table width="200" border="1">
            <tbody>
                <tr>
                    <td>&nbsp;name</td>
                        <input type="hidden" value="{{ data.id }}" name="id">
                    <td>
                        <input type="text" name="office_staff_name" id="name" value="{{ data.office_staff_name }}"></td>
                </tr>
                <tr>
                    <td>&nbsp;phone no</td>
                    <td>
                        <input type="text" name="office_staff_phone_number" id="phone_no" value="{{ data.office_staff_phone_number }}">
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;email id</td>
                    <td>
                        <input type="text" name="email_id" id="email_id" value="{{ data.email_id }}">
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;photo</td>
                    <td>
                        <img src="{{ data.office_staff_photo }}" width="50px" height="50px">
                        <input type="file" name="office_staff_photo" id="photo"></td>
                </tr>
                <tr>
                    <td><input type="submit" name="submit" id="submit" value="Submit"></td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
	</form>
{% endblock %}