<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/add_course/">add course</a><br>
<a href="/myapp/add_department/">add_department</a><br>
<a href="/myapp/add_office_staff/">add_office_staff </a><br>
<a href="/myapp/add_student/"> add_student</a><br>
<a href="/myapp/add_subject/">add_subject</a><br>
<a href="/myapp/add_teacher/">add_teacher</a><br>
<a href="/myapp/change_password_admin/">change_pasword_admin</a><br>
<a href="/myapp/send_notification_admin/">send_notification_admin </a><br>
<a href="/myapp/view_complaint_admin/">view_complaint_admin</a><br>
<a href="/myapp/view_course/">view_course</a><br>
<a href="/myapp/view_department/">view_department</a><br>
<a href="/myapp/view_office_staff/">view_office_staff</a><br>
<a href="/myapp/view_student_admin/">view_student_admin</a><br>
<a href="/myapp/view_teachers/">view_teachers</a><br>
<a href="/myapp/view_subjects/">view_subjects</a><br>

</body>
</html>